# Enter files or directories to purge before squashing SCE during sce-import.
# Ensure there are no spaces before or after entries, leading slash not needed,
# wildcards accepted.
# 
# To activate move this file to /etc/sysconfig/sce.purge or create a new one.
#
# Add /opt/.filetool.lst entry to save any changes:
#   etc/sysconfig/sce.purge
#
# Warning: Purging files may result in smaller SCEs but break the extension.
#          If problems arise modify the sce.purge file, re-import and retest
#          the SCE. Although the sce-import -z command will ignore this purge
#          file when importing SCEs, running sce-update without the -z option
#          will by default use this purge file again during SCE re-imports.
#
# Example entries:
#
#usr/lib/i386-linux-gnu/libLLVM-3.5.so.1
#usr/lib/i386-linux-gnu/libLLVM*
#usr/share/locale
#usr/include